// Config file customized for HPC environment with 'slurm' scheduler/ executor
params{
    project         = '<>' //change here
    email           = '<>' //change here
    mailType        = 'END,FAIL'
    
}
process {

    withName: SORTMERNA {
        container = "ruqse_rnaseqtools_sortmerna-4.3.6.sif"        // an absolute or relative path might be necessary
    }    
    withName: TRIMMOMATIC {
        container = "trimmomatic-0.39.sif"        
    }
    withName: SALMON_INDEX {
        container = "salmon-1.9.0.sif"         
    }    
    withName: SALMON_QUANTIFICATION {
        container = "salmon-1.9.0.sif"         
    }  
    withName:FASTQC {
        container = "fastqc-0.11.9.sif"       
    }  
    withName: MULTIQC {
        container = "multiqc-v1.13.sif"
    }

    executor       = 'slurm'
    clusterOptions = "-A '${params.project}' --mail-type '${params.mailType}' --mail-user '${params.email}'"
    memory         = { 20.GB * task.attempt } //change here
    cpus           = { 1 * task.attempt } //change here
    time           = { 2.h * task.attempt } //change here
    scratch = '<>' //change here
    errorStrategy  =   { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

}
singularity {
        enabled = true
        autoMounts = true
        
        envWhitelist= '<>' //change here
}
